.search-input-container {
  margin: 0 auto 24px;
  width: 100%;
  max-width: 350px;
  position: relative;
}

.search-input {
  padding-left: 28px;
  width: 100%;
}

.search-input__icon {
  width: 20px;
  position: absolute;
  top: 6px;
  left: 0;
}
