:root {
  --white: #fff;
  --gray--light: #e8e8e8;
  --gray--dark: #8c8c8c;
  --black: #000;
  --blue: #00719c;
  --blue--light: #009bd6;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

*:focus {
  outline: 0;
}

input {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  appearance: none;
  border: 0;
  border-bottom: 1px solid var(--black);
  border-radius: 0;
  height: 32px;
  line-height: 2;
  padding: 0 0.5em;
}

input:focus {
  border-color: var(--black);
  color: var(--black);
}

input::-webkit-input-placeholder {
  color: var(--black);
}

input::-moz-placeholder {
  color: var(--black);
}

input::-ms-input-placeholder {
  color: var(--black);
}
